<% if @invalid === true %>
	<div id="no-records">
		<h2>Key not found!</h2>
		<p>The payment confirmation key cannot be located. Please click the link in your email and try again.</p>
	</div>
<% else %>
	<% content_for :new_beacon_location_info do %>
		<div class="row">
			<div class="col-xs-12">
				<table>
					<tbody>
						<tr>
							<th>Business</th>
							<td><%= @business.name %> (#<%= @business.id %>)</td>
						</tr>
						<tr>
							<th>Shipping Address</th>
							<td><%= raw @location.full_address multiline: true %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	<% end %>


	<div class="row">
		<div class="col-xs-12">
			<h4>Create a New Beacon</h4>
			<p>Look on the iBeacon device and locate its UID number. Enter that number below.</p>
			<p>After submitting this form, ship the iBeacon to the following address.</p>
		</div>
	</div>

	<%= render 'form' %>
<% end %>