<div id="no-records">
	<h2>Beacon Configured!</h2>
	<p>Please ship this beacon to the following address:</p>
	<p>
		<%= @business.name %><br>
		<%= raw @location.full_address multiline: true %>
	</p>
</div>