<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Admin,</h1>
    <p>
      A new beacon order has been placed. Below is a summary of the information:

      --------------------
      Business: <%= @business.name %> (#<%= @business.id %>)<br>
      New Location: <%= @location.full_address %>
      --------------------
    </p>
    <p>
      Before shipping the Beacon:
      <ol>
        <li>Ensure the beacon is registered to your kontaktio account panel.</li>
        <li>Click the following URL and enter its UID code: <%= edit_beacon_url(key: @key) %></li>
      </ol>
    </p>
    <p>The Zippy Spot Team</p>
  </body>
</html>