/* line 14, /home/isaac/Web/Wesfed/zippyspot/app/assets/stylesheets/subscriptions.sass */
#payment-success img {
  margin-bottom: 20px;
}
/* line 16, /home/isaac/Web/Wesfed/zippyspot/app/assets/stylesheets/subscriptions.sass */
#payment-success h2 {
  font-weight: bold;
  font-size: 44px;
  text-transform: none;
  color: #4A4A4A;
}
/* line 21, /home/isaac/Web/Wesfed/zippyspot/app/assets/stylesheets/subscriptions.sass */
#payment-success p {
  line-height: 25px;
}
