@import 'it2.tools/tools.glob'


html
  overflow-y: scroll
  overflow-x: hidden
  @include below(767px)
    width: 100%


body 
  background-color: $c-background
  font-family: 'Roboto', Sans-serif
  overflow-x: hidden
  background: $c-background
  padding-top: 72px
  @include transition(.4s)

  // This is essentially a hack to fix a 
  // padding-right problem introduced by 
  // bootstrap's modal
  padding-right: 0 !important

  &.bare,
  &.admin
    padding: $row-gutter
    
  @include above($bp-xsmall)
    padding-left: 75px