@import 'it2.tools/tools.glob'


html
  @include below(767px)
    width: 100%
    overflow-x: hidden


body 
  background-color: $c-background
  font-family: 'Roboto', Sans-serif
  overflow-x: hidden
  background: $c-background
  padding-top: 72px
  @include transition(.4s)

  &.bare,
  &.admin
    padding: $row-gutter
    
  @include above($bp-xsmall)
    padding-left: 75px