<%= form_for(@greeting, html: {class: 'notify-form'}) do |f| %>
  <%= form_errors_for @greeting %>

  <%= render 'form_fields', f: f %>

	<div class="row">
		<div class="col-xs-12">
		  <%= f.button %>
	  </div>
	</div>
<% end %>