.warning-message {
  background: #ff0141;
  padding: 8px 22px;
  color: #fff;
  font-size: 18px;
  letter-spacing: -0.5px;
  position: relative;
  z-index: 999;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: .4s;
  /*position: absolute;
  top: 0;
  left: 0;
  right: 0;*/
  width: 100%;
  display:block;
  i {
    margin-right: 19px;
    font-size: 15px;
  }
  strong {
    margin-right: 8px;
    letter-spacing: -0.5px;
  }
  
}
.warning-message {
  font-size: 13px;
}

.show-error {
  height: 100%;
  max-height: 100%;
  visibility: visible;
  transition: .4s;
}
.success-message {
  background: #4cd9b9;
  padding: 8px 22px;
  color: #fff;
  font-size: 18px;
  letter-spacing: -0.5px;
  position: relative;
  z-index: 999;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: .4s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display:block;
  i {
    margin-right: 19px;
    font-size: 15px;
  }
  strong {
    margin-right: 8px;
    letter-spacing: -0.5px;
  }
}
.headsup-message {
  background: #33b1fd;
  padding: 8px 22px;
  color: #fff;
  font-size: 18px;
  letter-spacing: -0.5px;
  position: relative;
  z-index: 999;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: .4s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display:block;
  i {
    margin-right: 19px;
    font-size: 15px;
  }
  strong {
    margin-right: 8px;
    letter-spacing: -0.5px;
  }
}
.message {
  padding-left: 0px !important;
  min-height: 41px;
  line-height: 41px;
  padding: 0;
  z-index: 9;
  i {
    position: relative;
    top: -3px;
  }
  .col-md-1 {
    width:2%;
    float:left;
  }
  .col-md-2 {
    width: 12%;
    float:left;
    font-size: 17px;
    text-align: center;
    padding-right: 0;
    margin-right:-5px;
    height:auto;
  }
  .col-md-9 {
    width: 84%;
    float:left;
    font-size: 15px;
  }
}
.message.warning-message2 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  .col-md-9 {
    line-height: 18px;
    padding-top: 15px;
  }
}