@import 'it1.settings/settings.global'
@import 'it1.settings/settings.breakpoints'
@import 'it1.settings/settings.colors'

@import 'it2.tools/tools.mixins'
@import 'it2.tools/tools.functions'


// These dimensions are taken from the
// campaign.rb attachment size for "index" thumbnails
#image_preview
  width: 210px
  height: 170px
  overflow: hidden
  position: relative

  img
    // position: absolute
    max-width: 210px
    max-height: 170px
    // left: 0
    // top: 0

.campaign-form
  .cbox
    margin-top: 33px
    label
      color: #4a4a4a
      font-weight: bold    
  
  .campaign-image
    h4
      font-size: 26px
      color: #000
      margin-top: 0
      font-weight: 400
    
    .subtitle
      font-size: 13px
      padding: 0px
      color: #a3a3a3
      text-align: left
    
    .upload-campaign-image
      background: #fff url('ico/ico_browse.png') no-repeat 20px center
      display: block
      -webkit-border-radius: 40px
      -moz-border-radius: 40px
      border-radius: 40px
      font-size: 12px
      font-weight: bold
      padding: 10px 33px 10px 55px 
      color: #4a4a4a
    
    .choose-image, .crop-image
      background-repeat: no-repeat
      background-color: transparent
      text-align: center
      width: 250px
      border: 1px solid #4a4a4a
      margin-top: 10px
      display: block
      -webkit-border-radius: 40px
      -moz-border-radius: 40px
      border-radius: 40px
      font-size: 12px
      line-height: 12px
      font-weight: bold
      padding: 10px 42px 
      color: #4a4a4a
    
    .choose-image:hover, .crop-image:hover, .upload-campaign-image:hover 
      /*opacity: 0.7*/
      transition: .4s
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    
    .imgPlaceHolder
      min-height: 127px
      min-width: 127px
      /*background: url('img-placeholder.png') center center no-repeat*/
      display: block
      width: auto
      float: left
      margin-left: 20px
      img
        width: 100%
      
    
  

  .cbox.pull-left
    padding-left: 0
    margin-right: 15px

    input
      margin-left: 0px
    
  
  .selectOptions
    top: 44px
    span:hover
      background: #eee
    
  
  option:first 
    color: #999
  
  .socialBox
    width: 81px
    margin: 0 auto
    .cbox
      label
        margin-left: 15px
      
      input[type="checkbox"]
        left: 24px !important
      
    .default_socialImg
      width: 81px
      height: 84px
      background: url('facebook.png') center center no-repeat
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    

    .facebookImg
      @extend .default_socialImg
      background-image: url('facebook.png')
    
    .twitterImg
      @extend .default_socialImg
      background-image: url('twitter.png')
    
    .instagramImg
      @extend .default_socialImg
      background-image: url('instagram.png')
    
  



/* DATE PICKER STYLES */
.customDaySelector
  display: none

.customDaySelector.active
  display: block

.datepicker.dropdown-menu
  z-index: 9999 !important

.input-group
  position: inherit 
  .form-control
    width: 126px
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px
    border-top-right-radius: 4px !important
    border-bottom-right-radius: 4px !important
    -webkit-box-shadow: none
    box-shadow: none
    border: none
  
  .input-group-addon
    margin-left: 10px
    background: url('ico/ico_calendar.png') center center no-repeat !important
    border: none
    width: 37px
    height: 43px
    .glyphicon
      display: none
    
  


/* CAMPAIGN */

span.subtitle
  color: #a3a3a3
  font-size: 16px


h4.normal
  font-size: 17px !important
  color: #4a4a4a
  font-weight: light
  margin: 20px 0


/* CAMPAIGNS */

.campaigns-selector
  div.view
    font-size: 15px
    color: #4a4a4a
    margin-top: 10px
    font-weight: 500

/* Day picker */

.datepicker.datepicker-inline
  border: solid 1px #979797
  padding: 15px
  width: 234px
  height: 180px
  margin-bottom: 30px
  position: absolute
  table
    background-color: #FFF
    thead
      display: none
    
    .cw, .disabled.day
      display: none
    
    td
      border: solid 1px #eee
      color: #838d8f
      font-size: 12px
    
    td:hover, 
    td.active.active,
    td.active.active:hover
      color: #FFF
      background-color: #838d8f !important
      border: solid 1px #eee
      -webkit-border-radius: 0px
      -moz-border-radius: 0px
      border-radius: 0px