<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="">
	<meta name="author" content="">

	<title>ZippySpot | Responsive Admin Template</title>

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico">

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- CSS -->
	<link href="css/style.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,700,400italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body id="home">

<div id="wrapper">

	<!-- NAV / VERTICAL SIDEMENU Start -->
	<div class="db-header">
		<div class="logo">
			<a href="./index.html"><img src="img/logo_zippy.png" alt=""/></a>
		</div>
		<div class="db-navbar">
			<ul>
				<li><a href="./index.html"><i><img src="img/ico/ico_dash.svg" alt=""/></i><span>Dashboard</span></a></li>
				<li><a href="./profile.html"><i><img src="img/ico/ico_bizProfile.svg" alt=""/></i><span>Biz Profile</span></a></li>
				<li><a href="./greetings.html"><i><img src="img/ico/ico-notifications.svg" alt=""/></i><span>Notifications</span></a></li>
				<li class="active"><a href="./index.html"><i><img src="img/ico/icon-campaign.svg" alt=""/></i><span>Campaigns</span></a></li>
				<li><a href="#"><i><img src="img/ico/icon-customers.svg" alt=""/></i><span>Customers</span></a></li>
				<li><a href="#"><i><img src="img/ico/icon-receipt.svg" alt=""/></i><span>Receipts</span></a></li>
				<li><a href="#"><i><img src="img/ico/icon-location.svg" alt=""/></i><span>Locations</span></a></li>
			</ul>
		</div>
	</div>
	<!-- NAV / VERTICAL SIDEMENU End -->

	<!-- HEADER Start -->
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-3">
					<div class="nav-trigger"></div>
					<div class="welcome">
						Get some Coffee
					</div>
					<div class="battery-status full hidden-xs">
						<div class="ico"><img src="img/ico/ico_storeBattery.svg" alt=""/></div>
						<ul class="battery-ui">
							<li>Location Name 1 <span><em class="bg-color2" style="width:25%"></em></span></li>
							<li>Location Name 2 <span><em class="bg-color3" style="width:50%"></em></span></li>
							<li>Location Name 3 <span><em style="width:100%"></em></span></li>
							<li>Location Name 4 <span><em class="bg-color3" style="width:50%"></em></span></li>
							<li>Location Name 5 <span><em class="bg-color2" style="width:25%"></em></span></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-9">
					<div class="profile">
						<div class="battery-status full visible-xs">
							<div class="ico"><img src="img/ico/ico_storeBattery.svg" alt=""></div>
							<ul class="battery-ui">
								<li>Location Name 1 <span><em class="bg-color2" style="width:25%"></em></span></li>
								<li>Location Name 2 <span><em class="bg-color3" style="width:50%"></em></span></li>
								<li>Location Name 3 <span><em style="width:100%"></em></span></li>
								<li>Location Name 4 <span><em class="bg-color3" style="width:50%"></em></span></li>
								<li>Location Name 5 <span><em class="bg-color2" style="width:25%"></em></span></li>
							</ul>
						</div>
						<img class="profile-pic" src="img/profile.png" alt=""/>
						<span>Adam Ostyanko</span>
						<ul class="profile-ui">
							<li><a href="#"><img src="img/ico/icon-profile.svg" alt=""/> Profile</a></li>
							<li><a href="#"><img src="img/ico/icon-heart.svg" alt=""/> Help</a></li>
							<li><a href="#"><img src="img/ico/icon-logout.svg" alt=""/> Log Out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- HEADER End -->

	<!-- PAGE HEADER Start -->
	<div class="page-head bg-color6">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h4>Campaigns</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- PAGE HEADER End -->

	<div class="container">

		<!-- CAMPAIGN HEADER start -->
		<div class="row content-head">
			<div class="col-md-8 col-sm-12">
				<h4>SINGLE CAMPAIGN	OVERVIEW</h4>
				<span class="subtitle">Every Thursday</span>
			</div>
			
			<div class="col-md-4 col-sm-6">
				<div class='selectBox selectBox2'>
					<span class='selected'></span>
					<span class='selectArrow'><i class="fa fa-angle-down"></i></span>
					<div class="selectOptions" >
						<span class="selectOption" value="Option 2">Trenton RD</span>
						<span class="selectOption" value="Option 3">Texas</span>
						<span class="selectOption" value="Option 4">Alaska</span>
						<span class="selectOption" value="Option 5">Newyork</span>
					</div>
				</div>
			</div>
		
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<h4 class="normal">Most popular location: <b>Trenton Rd</b></h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-4">
						<ul class="camp-stats">
							<li class="active"><span>25</span> Active Campaigns</li>
							<li class="redemptions"><span>15</span> Redemptions</li>
							<li class="visits"><span>108</span> Visits</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- CAMPAIGN HEADER end -->

		<!-- ANALYSIS Start -->
		<div class="row">
			<div class="col-md-12">
				<div class="campaign-analysis">
					<ul>
						<li class="ups"><span>+3</span> New Campaigns</li>
						<li class="downs"><span>1.9%</span> New Visitors</li>
						<li class="ups"><span>+8</span> new Redemptions</li>
						<li class="downs"><span>4.2%</span> New Sales</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- ANALYSIS End -->

		<div class="row chart-wrap">

			<!-- AREA CHART Start -->
			<div class="col-md-7">
				<div id="area-chart"></div>
			</div>
			<!-- AREA CHART End -->

			<!-- PIE/DONUT CHART Start -->
			<div class="col-md-5">
				<div id="pie-chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
			</div>
			<!-- PIE/DONUT CHART End -->
		</div>
	</div>


</div>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="js/plugins/select/select.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.js"></script>
<script src="js/plugins/highcharts/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="js/main.js"></script>

<script src="js/plugins/js-cookies/jquery.cookie.js"></script>
<script src="js/plugins/js-cookies/main.js"></script>


</body>
</html>
