<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="">
	<meta name="author" content="">

	<title>ZippySpot | Responsive Admin Template</title>

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico">

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Datepicker plugin CSS -->
	<link href="css/plugin/bootstrap-datepicker3.standalone.css" rel="stylesheet">

	<!-- Plugins CSS -->
	<link href="css/plugin/magnific-popup.css"  rel="stylesheet" > 
	<link href="css/plugin/cropper.css"  rel="stylesheet" > 

	<!-- CSS -->
	<link href="css/style.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,700,400italic' rel='stylesheet' type='text/css'>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body id="home">

<div id="wrapper">
	
	<!-- NAV / VERTICAL SIDEMENU Start -->
	<div class="db-header">
		<div class="logo">
			<a href="./index.html"><img src="img/logo_zippy.png" alt=""/></a>
		</div>
		<div class="db-navbar">
			<ul>
				<li><a href="./index.html"><i><img src="img/ico/ico_dash.svg" alt=""/></i><span>Dashboard</span></a></li>
				<li><a href="./profile.html"><i><img src="img/ico/ico_bizProfile.svg" alt=""/></i><span>Biz Profile</span></a></li>
				<li><a href="./greetings.html"><i><img src="img/ico/ico-notifications.svg" alt=""/></i><span>Greetings</span></a></li>
				<li class="active"><a href="./index.html"><i><img src="img/ico/icon-campaign.svg" alt=""/></i><span>Campaigns</span></a></li>
				<li><a href="#"><i><img src="img/ico/icon-customers.svg" alt=""/></i><span>Customers</span></a></li>
				<li><a href="#"><i><img src="img/ico/icon-receipt.svg" alt=""/></i><span>Receipts</span></a></li>
				<li><a href="#"><i><img src="img/ico/icon-location.svg" alt=""/></i><span>Locations</span></a></li>
			</ul>
		</div>
	</div>
	<!-- NAV / VERTICAL SIDEMENU End -->
	
	<!-- HEADER Start -->
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-3">
					<div class="nav-trigger"></div>
					<div class="welcome">
						Get some Coffee
					</div>
					<div class="battery-status full hidden-xs">
						<div class="ico"><img src="img/ico/ico_storeBattery.svg" alt=""/></div>
						<ul class="battery-ui">
							<li>Location Name 1 <span><em class="bg-color2" style="width:25%"></em></span></li>
							<li>Location Name 2 <span><em class="bg-color3" style="width:50%"></em></span></li>
							<li>Location Name 3 <span><em style="width:100%"></em></span></li>
							<li>Location Name 4 <span><em class="bg-color3" style="width:50%"></em></span></li>
							<li>Location Name 5 <span><em class="bg-color2" style="width:25%"></em></span></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-9">
					<div class="profile">
						<div class="battery-status full visible-xs">
							<div class="ico"><img src="img/ico/ico_storeBattery.svg" alt=""></div>
							<ul class="battery-ui">
								<li>Location Name 1 <span><em class="bg-color2" style="width:25%"></em></span></li>
								<li>Location Name 2 <span><em class="bg-color3" style="width:50%"></em></span></li>
								<li>Location Name 3 <span><em style="width:100%"></em></span></li>
								<li>Location Name 4 <span><em class="bg-color3" style="width:50%"></em></span></li>
								<li>Location Name 5 <span><em class="bg-color2" style="width:25%"></em></span></li>
							</ul>
						</div>
						<img class="profile-pic" src="img/profile.png" alt=""/>
						<span>Adam Ostyanko</span>
						<ul class="profile-ui">
							<li><a href="#"><img src="img/ico/icon-profile.svg" alt=""/> Profile</a></li>
							<li><a href="#"><img src="img/ico/icon-heart.svg" alt=""/> Help</a></li>
							<li><a href="#"><img src="img/ico/icon-logout.svg" alt=""/> Log Out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- HEADER End -->
	
	<!-- PAGE HEADER Start -->
	<div class="page-head bg-color6">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h4>Campaigns</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- PAGE HEADER End -->
	
	<!-- NOTIFY/GREETINGS FORM Start -->
<form class="campaign-form form">
	<div class="container">
		<div class="row content-head">
			<div class="col-md-12 col-sm-12">
				<h4>CREATE/EDIT A NEW REWARD</h4>
			</div>
			
		</div>
		<div class="row">
			<div class="col-md-12">
				
				<div class="">
					<div class="row">
						<label class="col-md-3">COUPON TITLE</label>
						<div class="col-md-9">
							<input type="text" placeholder="ie : Free coffee with 10 points">
						</div>
					</div>
				</div>
				<div class="row">
					<label class="col-md-3">VALID LOCATION (S)</label>
					<div class="col-md-9">
						<div class="cbox"><input type="checkbox"><label>Trenton Rd</label></div>
						<div class="cbox"><input type="checkbox"><label>Waybright Ln</label></div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="dark-wrap">
		<div class="container campaign-image">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<h4>CAMPAIGN IMAGE</h4>
					<label class="subtitle">* High quality JPG or PNG only</label>
				</div>
				<div class="col-md-8 col-sm-12">
					<span class="document-image-frame">
			            <a href="#" class="upload-campaign-image">Browse</a>
			            <input type="file" accept="image/*" style="display:none" onchange="handleFiles(this)" />
			            <input type="hidden" class="campaignImage" name="campaignImage" value="">
			        </span>
			        <a href="#" class="choose-image">CHOOSE FROM GALLERY</a>
				</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-md-offset-4 col-md-8">
	    			<div class="imgPlaceHolder"></div>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-md-offset-4 col-md-8">
	    			<a href="#crop-image-popup" class="crop-image open-crop-popup-link">CROP ME</a>
	    		</div>
	    	</div>
		</div>
	</div>
	<div class="container">
		<div class="row content-head">
			<div class="col-md-12 col-sm-12">
				<h4>CAMPAIGN SCHEDULE</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 ">
				<label>STARTS</label>
			</div>
			<div class="col-md-9 ">
				<div class="input-group date">
				  <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 ">
				<label>EXPIRES</label>
			</div>
			<div class="col-md-9 ">
				
				<div class="radio">
			    	<input type="radio" name="optionsRadios" id="optionsRadios1" value="SpecificDate" checked>
				 	<label for="optionsRadios1">Specific Date</label>
				  	<div class="input-group date">
					  <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
					</div>
				</div>
				<div class="radio">
				   <input type="radio" name="optionsRadios" id="optionsRadios2" value="In">
				  <label for="optionsRadios2">
				    In
				  </label>
				  <input type="text" class="input-days" placeholder="3">
				  
					<div class="selectBox" value="Option 1">
						<span class="selected">Choose a campaign</span>
						<span class="selectArrow"><i class="fa fa-angle-down"></i></span>
						<div class="selectOptions">
							<span class="selectOption" value="Option 2">day</span>
							<span class="selectOption" value="Option 3">week</span>
							<span class="selectOption" value="Option 4">month</span>
						</div>
					</div>
				</div>
				<div class="radio">
				    <input type="radio" name="optionsRadios" id="optionsRadios3" value="Never">
				  <label for="optionsRadios3">
				    Never
				  </label>
				</div>
				
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 ">
				<label>DAYS OF WEEK</label>
			</div>
			<div class="col-md-6 ">
				<div class="cbox checkbox-inline"><input type="checkbox"><label>S</label></div>
				<div class="cbox checkbox-inline"><input type="checkbox"><label>M</label></div>
				<div class="cbox checkbox-inline"><input type="checkbox"><label>T</label></div>
				<div class="cbox checkbox-inline"><input type="checkbox"><label>W</label></div>
				<div class="cbox checkbox-inline"><input type="checkbox"><label>T</label></div>
				<div class="cbox checkbox-inline"><input type="checkbox"><label>F</label></div>
				<div class="cbox checkbox-inline"><input type="checkbox"><label>S</label></div>

			</div>
		</div>
		<div class="row">
			<div class="col-md-3 ">
				<label>VALID WEEKS</label>
			</div>
			<div class="col-md-6 ">
				<div class="cbox checkbox-inline"><input type="checkbox"><label>1st</label></div>
				<div class="cbox checkbox-inline"><input type="checkbox"><label>2nd</label></div>
				<div class="cbox checkbox-inline"><input type="checkbox"><label>3rd</label></div>
				<div class="cbox checkbox-inline"><input type="checkbox"><label>4th</label></div>
				<div class="cbox checkbox-inline"><input type="checkbox"><label>5th</label></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-4 ">
						<label>DAYS OF THE MONTH</label>
					</div>
					<div class="col-md-8">
						<div class="radio radio-inline">
						    <input type="radio" name="daysOfMonth" id="EveryDay" value="EveryDay">
						  <label for="EveryDay">
						    Every day
						  </label>
						</div>
						<div class="radio radio-inline">
						    <input type="radio" name="daysOfMonth" id="LastDay" value="LastDay">
						  <label for="LastDay">
						    Last day
						  </label>
						</div>
						<div class="radio radio-inline">
						    <input type="radio" name="daysOfMonth" id="Custom" value="Custom">
						  <label for="Custom">
						    Custom
						  </label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 ">
						<label>MIN TIME BETWEEN USE</label>
					</div>
					<div class="col-md-8">
						<input type="text" class="input-days input-inline" placeholder="3">
						  
						<div class="selectBox" value="Option 1">
							<span class="selected">Choose a campaign</span>
							<span class="selectArrow"><i class="fa fa-angle-down"></i></span>
							<div class="selectOptions">
								<span class="selectOption" value="Option 2">day</span>
								<span class="selectOption" value="Option 3">week</span>
								<span class="selectOption" value="Option 4">month</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="customDaySelector"></div>
				<input type="hidden" id="customDaySelector_input" />
			</div>
			
		
		</div>
	</div>
	<div class="dark-wrap">
		<div class="container campaign-image">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<h4>SYNDICATION</h4>
				</div>
				<div class="col-md-5 col-sm-12">
					<div class="socialBox">
						<label class="facebookImg" for="facebookBox">
						</label>
						<div class="cbox"><input id="facebookBox" type="checkbox" name="facebook"><label></label></div>
					</div>
					<div class="socialBox">
						<label class="twitterImg" for="twitterBox">
						</label>
						<div class="cbox"><input id="twitterBox" type="checkbox" name="twitter"><label></label></div>
					</div>
					<div class="socialBox">
						<label class="instagramImg" for="instagramBox">
						</label>
						<div class="cbox"><input id="instagramBox" type="checkbox" name="instagram"><label></label></div>
					</div>
				</div>
			</div>
		<button type="submit">Save Changes</button>
		</div>
	</div>
	</form>

	<!-- NOTIFY/GREETINGS FORM End -->

	<!-- CROP IMG POPUP! -->
		<div id="crop-image-popup" class="white-popup mfp-hide">
			<span class="title">Crop Image</span>
		  	
		  	<div class="container">
			  <img  src="photo.jpg">
			</div>

			<button class="crop-btn">Crop</button>
		</div>
		<!-- CROP IMG POPUP end -->
</div>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="js/plugins/select/select.js"></script>
<script src="js/plugins/masonry/masonry.pkgd.js"></script>
<script src="js/plugins/highcharts/highcharts.js"></script>
<script src="js/plugins/highcharts/exporting.js"></script>
<script src="js/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="js/bootstrap-table.js"></script>
<script src="js/plugins/popup/jquery.magnific-popup.min.js"></script>
<script src="js/plugins/cropper/cropper.js"></script>
<script src="js/main.js"></script>

</body>
</html>
