<%= modal :large, id: "cropImageModal", title: "Live Image Crop",
    body: capture { %>

    <div class="row mb">
      <div class="col-xs-12">
        <div class="file-upload">
          <a href="#" id="findImage" class="btn btn-browse upload-trigger">Browse</a>
          <%= file_field_tag "uploaded_image", accept: "image/*", class: "file_field" %>
          <span>Choose a file</span>
        </div>
      </div>
    </div>
    
    <div class="row form-set">
     <div class="col-md-6">
    
         <div class="imageBox" id="avatarBox">
            <div class="thumbBox"></div>
            <div class="spinner" style="display: none">
              Loading...
            </div>
         </div>
    
         <div class="action">
             <input type="button" id="btnZoomIn" class="btnZoomIn avatar btn btn-default disabled" value="+">
             <input type="button" id="btnZoomOut" class="btnZoomOut avatar btn btn-default disabled" value="-">
             <input type="button" id="btnCrop" class="btnCrop avatar btn btn-default disabled" value="Preview Crop">
         </div>
     </div>
     <div class="col-md-6">
         <div class="cropped cropped_image">
          <%= image_tag resource.image.url(:index), style: "width:420", id: "image-c", class: "thumbnail" %>
         </div>
     </div>
    </div>
<% }, footer: capture { %>
  <button id="btnSaveClose" type="button" class="btn btn-default pull-right" data-dismiss="modal" aria-label="Close">
    Save and Close Window
  </button>
<% } %>