<% content_for :form_errors do %>
	<% if object.errors.any? %>
		<div class="flash bg-warning">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="heading">
							<i class="fa fa-exclamation-triangle"></i>
							<%= pluralize(object.errors.count, "error") %> prevented the form from being saved:
						</div>

						<ul>
					    <% object.errors.full_messages.each do |message| %>
					      <li><%= message %></li>
					    <% end %>
					  </ul>
					</div>
				</div>
			</div>
		</div>
	<% end %>
<% end %>