<!-- PROFILE PROGRESS start -->
	<div class="profile-progress">
		<div class="container">

			<div class="profile-progress-head text-center">
				<span><%= image_tag('ico_finger.png') %></span>
				<em>Let's Get Started!</em>
			</div>
	
			<div class="profile-progress-bar hidden-xs">
				<h5>25% Done</h5>
				<span>
					<em></em>
				</span>
			</div>

			<ul class="list-inline profile-progress-list">
				<li class="checked">
					<a href="#"><i class="fa fa-check"></i> Setup Business Profile</a>
				</li>
				<li>
					<a href="#"><i class="fa fa-chevron-right"></i> Confirm Locations</a>
				</li>
				<li>
					<a href="#"><i class="fa fa-chevron-right"></i> Create Campaigns</a>
				</li>
				<li>
					<a href="#"><i class="fa fa-chevron-right"></i> Create Greetings</a>
				</li>
				<li>
					<a href="#"><i class="fa fa-chevron-right"></i> Import Customers</a>
				</li>
				<li>
					<a href="#"><i class="fa fa-chevron-right"></i> Go Live!</a>
				</li>
			</ul>

		</div>
	</div>
	<!-- PROFILE PROGRESS end -->