<!-- PROFILE PROGRESS start -->
	<div class="profile-progress">
		<div class="container">
			<div class="profile-progress-head text-center">
				<span><%= image_tag('ico_finger.png') %></span>
				<em>Let's Get Started!</em>
			</div>
	
			<div class="profile-progress-bar hidden-xs">
				<h5>25% Done</h5>
				<span>
					<em></em>
				</span>
			</div>

			<div class="profile-progress-list">
				<ul>
					<li class="active">Setup Business Profile</li>
					<li>Confirm Locations</li>
					<li>Create Campaigns</li>
					<li>Create Greetings</li>
					<li>Import Customers</li>
					<li>Go Live!</li>
				</ul>
			</div>

		</div>
	</div>
	<!-- PROFILE PROGRESS end -->