<div class="fit toggle-section_buttons py4">
  <div class="btn btn-default btn-primary left toggle-section_btn-prev">
    Previous
  </div>
  <div class="btn btn-default btn-primary button right toggle-section_btn-next">
    Next
  </div>
</div>