<div class="fit toggle-section_buttons mt1 mb1">
  <button class="left toggle-section_btn-prev">
    Previous
  </button>
  <button class="button right toggle-section_btn-next">
    Next
  </button>
  <div class="clearfix"></div>
</div>