<% content_for(:page_title) { "Your Dashboard" } %>

	<div class="container NewIndex">
		<div class="row">
			<div class="col-md-12">
				<h2>Welcome to your Dashboard</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3>Unfortunately, there isn’t anything here yet!</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p>But no worries, your page is yet to be published. <br /> Before we can get your page up and running, we need to first setup your store.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<%= image_tag('working-truck.png') %>
			</div>
		</div>
	</div>