<%= wrapper do %>
  <%= section_header 'Subscription Canceled' %>

  <p>Your subscription has been successfully canceled and the associated location has been deactivated. You will not be billed again for this specific location.</p>
  <p>You have 30 days to return the beacon to ZippySpot. If the beacon is not returned in an acceptable condition within 30 days, you will be charged $50 for the replacement of the beacon.</p>

<% end %> <%# -wrapper %>