<% content_for(:page_title) { "Locations" } %>

<%= wrapper do %>

<div id="payment-success" class="row">
	<div class="col-xs-12 text-center">
		<%= image_tag "locationAdded.png" %>

		<h2>Your order has been placed!</h2>

		<p>Thank you for your order. You will receive an email once your iBeacon ships.</p>

		<p>Within 3-5 business days you will recieve your store's iBeacon device. Once you recieve this, you will enter its unique UUID code onto this location's confirmation page to complete the process and activate your location.</p>
	</div>
</div>

<% end %>