// FIELD ICON
.field-info {
  $icon-size: em(24);

  @include border-radius($icon-size/2);
  border:1px solid $border-color;
  color:$border-color;
  font-family: serif;
  font-style: italic;
  height: $icon-size;
  line-height: $icon-size;
  position: absolute;
  left: em(-25);
  text-align: center;
  top: em(13);
  width: $icon-size;

  .dark-wrap & {
    border-color: $dark-border-color;
    color: $dark-border-color;
  }

  &:hover{
    background:$white;
    border-color: $color-tooltip-font;
    color: $color-tooltip-font;
  }

}

// The icon tooltip
.tooltip.bottom .tooltip-arrow{
  border-bottom-color:$white !important;
}

.tooltip-inner {
  @include box-shadow();
  background: $white;
  color: $color-tooltip-font;
  padding: $row-gutter/2;
  width: em(250);
}
// END FIELD ICON