$businesses-color: #0ab58f;
$campaigns-color: #34b1fc;
$customers-color: #ed1c24;
$customers-color-light: #ff0040;
$greetings-color: #fed700;
$greetings-color-light: #ffd700;
$locations-color: #f5a623;
$receipts-color: #50e3c2;

$error-background-color: #ff0141;
$background-color: #edecf1;
$label-color: #4a4a4a;

$row-gutter: 40px;