$businesses-color: #0ab58f;
$campaigns-color: #34b1fc;
$customers-color: #ed1c24;
$customers-color-light: #ff0040;
$greetings-color: #fed700;
$greetings-color-light: #ffd700;
$locations-color: #f5a623;
$receipts-color: #50e3c2;