// --------------------------------------------
//
// Settings -- Colors
//

@import 'bourbon';


// Color names and uses

$alabaster: #F9F9F9;
$alto: #D8D8D8;
$amber: #F5C400;            // Locations
$athens-gray: #EDECF0;      // Modal background
$crimson: #ED1C24;          // Customers
$dodger-blue: #34B1FC;      // Campaigns
$gallery: #EEEEEE;
$gold: #FED700;             // Greetings
$havelock-blue: #4A90E2;    // Rewards
$milano-red: #C40808;       // Locations
$mine-shaft: #333333;
$mischka: #DDDCE0;
$niagara: #0AB58F;          // Businesses, Success alert
$olive-drab: #6AA725;       // Success
$osio-gray: #838D8F;
$pickled-bluewood: #2C364A; // Menu bar bg
$silver: #C0C0C0;
$torch-red: #FF0040;        // Error alerts, Specials
$tundora: #4A4A4A;          // Body font color
$turquoise: #4CD9BA;        // Coupons
$white: #fff;


// Color Assignments

$c-business: $niagara;
$c-campaign: $dodger-blue;
$c-customer: $crimson;
$c-greeting: $gold;
$c-location: $amber;
$c-receipt: $niagara;

$c-error-background: $torch-red;
$c-background: #edecf1;
$c-label: $tundora;
$c-modal-background: $athens-gray;
$c-table-head: $osio-gray;
$c-header-font: $mine-shaft;

$c-coupon: $turquoise;
$c-reward: $havelock-blue;
$c-special: $torch-red;

$c-button-font: #3b3c40;
$c-tooltip-font: #32B1FE;

$c-border: #ccc;
$c-border-dark: darken($c-border, 20);