.message {
  .col-md-1 {
    width:2%;
    float:left;
  }
  .col-md-2 {
    width: 14%;
  }
  .col-md-9 {
    width: 82%;
  }
}

#pie-chart {
  max-width: 100% !important;
}
#home {
  .container {
    width: 85%;
    max-width: 900px;
    margin: 0px auto;
  }
}
.content-head {
  h4 {
    font-size: 16px;
    font-size: 23px;
    margin-bottom: 15px;
  }
}
a.new-cap {
  font-size: 10px;
}
.cw-wrap {
  img {
    width: 100%;
  }
}
.grid-item {
  width: 80%;
  padding: 0px 12px;
  margin: 0 auto 20px;
  position: absolute;
  left: 10% !important;
}
.more-cap {
  float: none !important;
  margin: -20px auto 0 !important;
}
.campaign-analysis {
  padding: 4px 19px 6px;
  li {
    float: left;
    color: #303B4F;
    font-size: 16px;
    padding-right: 28px;
    margin-right: 0;
    position: relative;
    width: 50%;
    padding-left: 22px;
  }
}
#area-chart {
  margin-bottom: 8px;
}
.welcome {
  color: #2F2F2F;
  font-weight: 800;
  font-size: 26px;
}
.db-header {
  z-index: 999;
}

label.businessLogo{
  margin-top: 0px;
}

.socialBox{
  float: left;
  width: 110px;
}

.white-popup{
  width: 900px;
  height: auto;
  padding: 0;
  float: none;
  .container{
    width: 100% !important;
    height: auto;
  }
}


.input-days {
  width: 35px !important;
  margin-top: 28px;
  padding: 0 !important;
  text-align: center;
}



/// WES BELOW

.row.bb{
  border: 0;
}

form{
  label{text-align: right;}
}