// Gem
//= require twitter/bootstrap
//= require bootstrap-table

// Vendor
//= require jquery.selectBox
//= require hopscotch
//= require bootstrap-datepicker3.standalone

//= require_self
//= require responsive
//= require shared/flashes
//= require shared/profile_progress
//= require font-awesome

@import 'settings';

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

// Add an arrow to dropdown menus that want it (with .arrow)
.dropdown-menu.arrow{
  &:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }

  &:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
  }
}


body {
  background-color: $background-color;
  font-family: 'Roboto', Sans-serif;
  padding-left: 75px;
  overflow-x: hidden;
  background: $background-color;
  padding-top: 72px;
  @include transition(.4s);

  &.active-sidebar {
    padding-left: 200px;
  }

  &.bare,
  &.admin{
    padding: $row-gutter;
  }
}

ul, li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a, a:hover, a:active {
  text-decoration: none;
  outline: 0 !important;
}
.ui-loader{
  display: none !important;
}
.form-wrap {
  max-width: 900px;
  margin:0 auto;
}
.separator{
  margin: 45px auto 45px;
  border-bottom: 1px solid #979797;
  display: none;
}
.form-wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto 43px;
  @include box-shadow();
  .selectBox{
    background: #eee;
  }
}
.fw-logo {
  padding: 14px 0 23px;
  img {
    display: table;
    margin: 0 auto;
  }
}
.fw-head {
  background: #33b1fd;
  padding: 19px 0 15px;
  @include box-shadow();
  position: relative;
  z-index: 999;
  span {
    margin-left: -65px;
    margin-right: 11px;
    position: relative;
    top: -8px;
    img {
      width: 65px;
    }
  }
  em {
    color: $color-white;
    font-style: normal;
    font-size: 35px;
    letter-spacing: -1.1px;
    font-weight: 300;
    margin: -1px auto 0;
    display: table;
    position: relative;
    display: inline-block;
  }
}


.sep {
  margin:40px 0;
}

.form-content {
  background: $color-white;
  padding: 56px 130px 60px 50px;
  position: relative;

  h3 {
    margin-bottom: 29px;
    color: #010000;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -0.5px;
  }

  div {
    label {
      padding-right: 19px;
      text-transform: uppercase;
      font-size: 15px;
      color: $label-color;
      line-height: 47px;
      font-weight: 500;
    }
    .row {
      position: relative;
    }
  }
  input {
    background: #eee;
    width: 100%;
    height: 45px;
    @include border-radius(3px);
    border: 1px solid #e9e9e9;
    border-top-color: #d5d5d5;
    border-bottom-color: #efefef;
    padding: 0 15px;
    font-weight: 500;
    font-size: em(20);
    margin-bottom: 18px;
  }
  hr {
    margin: 37px -20px 28px;
    width: 840px;
    border-top: 1px solid #e0e0e0;
  }
  button {
    background: #33B1FD;
    padding: 0px 22px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin: 23px auto 0;
    display: table;
    border: none;
    @include border-radius(22px);
    color: $color-white;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 2px;
    position: relative;
    left: 40px;
    @include transition(.4s);
    width: 90%;
    max-width: 290px;
  
	  &:hover {
	    /*opacity: 0.7;*/
	    background-color: #6BC2F9;
	    @include transition(.4s);
	    @include box-shadow();
	  }
	}
}

.textAdvice{
  color: #a3a3a3;
  font-size: 15px;
}

span.selected {
  position: relative;
  height: 45px;
  padding: 0 15px;
  width: 100%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #eee;
  color: #898999;
  font-size: em(20);
  overflow: hidden;
  border: 1px solid #e9e9e9;
  border-top-color: #d5d5d5;
  border-bottom-color: #efefef;
  z-index: 8888;

	&.active {
	  background: $color-white;
	  @include box-shadow();
	}
}

span.selectArrow {
  width: 34px;
  border: none;
  text-align: center;
  font-size: 18px;
  -moz-user-select: none;
  background: transparent;
  height: 45px;
  position: absolute !important;
  top: 0;
  right: 0;
}
span.selectArrow,span.selected {
  position: relative;
  float: left;
  z-index: 1;
}
div.selectOptions {
  position: absolute;
  top: 17px;
  left: 0;
  width: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  background: $color-white;
  display: none;
  padding-bottom: 8px;
  @include box-shadow();
}
span.selectOption {
  color: #838d99;
  font-size: 16px;
  display: block;
  width: 100%;
  line-height: 35px;
  padding: 0 18px;

	&:hover {
	  color: #484848;
	  background-color: #f7f7f7;
	}
}

// FIELD ICON
.field-info {
  $icon-size: em(24);

  @include border-radius($icon-size/2);
  border:1px solid $border-color;
  color:$border-color;
  font-family: serif;
  font-style: italic;
  height: $icon-size;
  line-height: $icon-size;
  position: absolute;
  left: em(-25);
  text-align: center;
  top: em(13);
  width: $icon-size;

  .dark-wrap & {
    border-color: $dark-border-color;
    color: $dark-border-color;
  }

  &:hover{
    background:$color-white;
    border-color: $color-tooltip-font;
    color: $color-tooltip-font;
  }

}

.tooltip.bottom .tooltip-arrow{
  border-bottom-color:$color-white !important;
}
.tooltip-inner {
  @include box-shadow();
  background: $color-white;
  color: $color-tooltip-font;
  padding: $row-gutter/2;
  width: em(250);
}
// END FIELD ICON

.db-header {
  background: #21213b;
  @include linear-gradient(#21213b, #343f53);
  width: 75px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  @include transition(.4s);
  z-index: 999;

  .logo {
    text-align: center;
    height: 150px;
    width: 38px;
    overflow: hidden;
    margin: 23px auto 0;
    @include transition(.4s);
  }

	body.active-sidebar & {
	  width: 200px;

	  .logo {
	    width: 100%;
	  }

	  .db-navbar {
	    li {
	      a {
          padding-left: 60px;

	        span {
	          opacity: 1;
	          visibility: visible;
	          transition: none;
	          width: auto;
	          position: relative;
	          right: 0px !important;
	        }
	      }
	    }
	  }
	}
}


.db-navbar {
  width: 100%;
  overflow: hidden;
  li {
    a {
      line-height: 53px;
      white-space: nowrap;
      position: relative;
      display: table;
      width: 100%;
      color: #cecece;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
      overflow: hidden;
      @include transition(.4s);
      border-left: 5px solid transparent;
      padding-left: 60px;
      span {
        opacity: 0;
        visibility: hidden;
        @include transition(.4s);
        width: 0px;
        position: relative;
        right: 0px;
      }
      i {
        width:35px;
        position: absolute;
        left: 18px;
        top: 50%;
        -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        transform: translate(0,-50%);
        img {
          margin:0 auto;
          display:table;
        }
      }
    }
  }

	&:hover{
  	overflow: visible;
	}

	li a:hover {
  	text-decoration: none;
  	background: #2a374a;
	  border-left: 5px solid #33b1fd;
	  padding: 0px 25px 0px 65px !important;
	  @include transition(.4s);
	  color:$color-white;
	}

	li#dashboard{
    a.active,
    a:hover {
      border-left-color:$campaigns-color;
  	}
  }
	
  li#business{
    a.active,
    a:hover {
    	border-left-color:$receipts-color;
    }
	}
	
  li#greeting{
    a.active,
    a:hover {
    	border-left-color:$greetings-color;
    }
	}
	
  li#campaign{
    a.active,
    a:hover {
    	border-left-color:$campaigns-color;
    }
	}
	
  li#customer{
    a.active,
    a:hover {
    	border-left-color:$customers-color;
    }
	}
	
  li#receipt{
    a.active,
    a:hover {
    	border-left-color:$receipts-color;
    }
	}
	
  li#location{
    a.active,
    a:hover {
    	border-left-color:$locations-color;
    }
	}

	li a:hover span,
	li.active a:hover span  {
  	opacity: 1;
  	visibility: visible;
	  @include transition(.4s);
	  width: auto;
	  position: relative;
	  right: 0px;
	}
}

// GOOD
.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  #content-body & {
    padding: $row-gutter 0;
  }
}

.header {
  height: 72px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.2);
  background: $color-white none repeat scroll 0% 0%;
  padding: 23px 20px;
  position: fixed;
  top: 0;
  left: 75px;
  right: 0;
  z-index: 9998;
  @include transition(.4s);
  
  .nav-trigger {
    width: 29px;
    color:$havelock-blue;
    font-size: 25px;
    margin-right: 13px;
    position: fixed;
    left: 92px;
    @include transition(.4s);
    cursor: pointer;
  }

	body.active-sidebar & {
	  left: 200px;
	  z-index: 9999;
	  
	  .nav-trigger {
	    left: 217px;
	  }
	}
}

#header-left {
  color: $header-font-color;
  font-weight: 800;
  line-height: rem(32);
  font-size: rem(32);
  float: left;
  display: inline-block;
  margin-right: 5px;
  max-width: 360px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#header-right {
  float: right;

  #battery-status {
    display: inline-block;

    .ico {
      @include border-radius(50%);
      @include transition(.3s);
      display: block;
      background: $color-white;
      height: 42px;
      padding: 4px;
      position: relative;
      top: -6px;
      width: 42px;
    
      &.active,
      &:hover {
        @include box-shadow(0,1px,3px,rgba(0,0,0,0.12));
        @include transition(.5s);
      }
    }

    .dropdown-menu{
      width: 250px;

      li {
        a{
          padding: 0 $row-gutter/2;
          color: #848c8f;
          line-height: rem(85);
          display: block;

          span{
            display: block;
            width: 70px;
            height: 3px;
            background: #cdcdcd;
            position: relative;
            top: 25px;

            em {
              position: absolute;
              height: 3px;
              top: 0;
              left: 0px;
            
              &.green {background: #6aa725;}
              &.yellow {background: $locations-color;}
              &.red {background: #ea232a;}
            }
          }
        }
      }
    }
  }

  #your-account.dropdown {
    margin-left: $row-gutter/2;
    display: inline-block;

    #profile-label{
      color: $header-font-color;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      position: relative;
      top: -4px;
    }

    .dropdown-menu{
      li{
        a {
          line-height: rem(85);
          border-bottom: 1px solid #eee;
          padding: 0 $row-gutter/2;
          color: #828d93;
          font-size: rem(23);
          font-weight: 500;
          display: block;

          img {
            margin-right: $row-gutter/2;
          }
        }

        &:last-child a{
          border-bottom: 0;
        }
      }
    }
  }
}

.dark-wrap {
  background: #dddce1;
}


// Campaign cards
.card {
  @include transition(.4s);
  @include box-shadow();
  min-height:300px;
  background: $color-white;
  position: relative;
  overflow: hidden;
 
  .card-info {
    padding: 0 15px 15px;
    text-align: center;

    h3 {
      color: $label-color;
      font-size: 20px;
      font-weight: 800;
    }

    a {
      padding:6px 8px;
      margin: 0 auto;
      border: 1px solid $border-color;
      border-radius: 20px;
      color: $border-color;

      &:hover{
        color: $campaigns-color;
        border-color: $campaigns-color;
      }
    }
  }
}



.battery-ui {
  position: absolute;
  top: 48px;
  width: 230px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
  @include border-radius(3px);
  left: -8px;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  background: $color-white;
  z-index: 999;
  li {
    color: #848c8f;
    margin-bottom: 20px;
    span {
      width: 70px;
      height: 3px;
      background: #cdcdcd;
      position: relative;
      display: inline-block;
      float: right;
      top: 8px;
      em {
        position: absolute;
        height: 3px;
        background: #6aa725;
        top: 0;
        left: 0px;
      
      	&.bg-color2 {
        	background: #ea232a;
      	}
      	&.bg-color3 {
        	background: $locations-color;
      	}
      }
    }
  }

  li:last-child {
    margin-bottom: 0px;
  }

	&.active {
	  opacity: 1;
	  visibility: visible;
	}
	&::after {
	  content: "";
	  height: 9px;
	  width: 18px;
	  position: absolute;
	  top: -9px;
	  left: 20px;
	  background: image-url('bubble1.png') no-repeat;
	}
}

.bare-wrap {
  #logo{
    text-align: center;
    margin-bottom: $row-gutter;
  }
}
.bare-wrap #form-wrap {
  width: 100%;
  max-width: $bare-form-width;
  margin: 0 auto;
  background: $color-white;
  @include border-radius(4px);
  @include box-shadow();

  #form-body{
    padding: $row-gutter;
  }

  h4 {
    margin: 0 0 $row-gutter;
    text-align: center;
    font-size: em(29);
    text-transform: uppercase;
    font-weight: 300;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background: #eee;
    height: 55px;

    @include border-radius(3px);
    @include border-width(1px);
    @include border-color(#d5d5d5 #e9e9e9 #efefef);
    padding: 0 55px;
    font-weight: 500;
    font-size: em(20);
    margin-bottom: 18px;
  }

  form {
    div {
      position: relative;
      i {
        color: #cccccc;
        position: absolute;
        top: 0;
        left: 15px;
        width: 54px;
        text-align: center;
        line-height: 55px;
        font-size: em(22);
      }
    }
  }
  
  #login-links{
    span{
      line-height: 40px;
      font-weight: 500;
      padding: 0;
      color:#888;
    }

    a#forgot-pass {
      color: #4b8fe2;
    }
    button#log-in{
      margin: 0;
    }
    a#sign-up {
      color: #4fe3c1;
      text-align: right;
    }
  }
}

//WES
.page-head {
  padding: 2px 0 5px;
  h4 {
    color: $color-white;
    font-size: 60px;
    text-align: center;
    font-weight: 200;
  }

  body.dashboard &{
    background-color: $campaigns-color;
  }
}

form,
.form,
.notify-form {
  div {
    label {
      display: block;
      padding-right: 19px;
      text-transform: uppercase;
      font-size: 15px;
      color: $label-color;
      line-height: 47px;
      font-weight: 500;

      &.inline{
        display: inline-block;
        padding-right: 0;
      }
    }
    .row {
      position: relative;
    }
  }
  input {
    background: $color-white;
    width: 100%;
    height: 44px;
    @include border-radius(3px);
    border: 1px solid #e9e9e9;
    border-top-color: #d5d5d5;
    border-bottom-color: #efefef;
    padding: 0 15px;
    font-weight: 500;
    font-size: em(20);
    margin-bottom: 18px;
  }
  hr {
    margin: 37px -20px 28px;
    width: 840px;
    border-top: 1px solid #e0e0e0;
  }
  
  span {
    font-size: 15px;
    color: #4b4b4b;
    font-weight: 500;
    display: inline-block;
    padding: 0 15px;
  }
}









.radio{
  margin-top: 0px;
  label{
    color:$label-color;
  }
  input{
    display: block;
    float: left;
  }
}
.radio-inline{
  padding-left: 0px;
}

input[type="radio"] {
  display: block;
  position: absolute;
  left: -9px;
  z-index: 999;
  width: 60px;
  height: 40px;
  opacity: 0;
  margin-left: 0 !important;
  cursor: pointer;
}
input[type="radio"] + label {
  background: image-url('rbtn.png') no-repeat bottom left;
}
input[type="radio"]:checked + label {
  background: image-url('rbtn.png') no-repeat top left;
}
input[type="radio"] + label ,
input[type="radio"]:checked + label {
  width: auto;
  margin-top: 10px;
  float: left;
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
  padding-left: 32px;
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
}



.terms{
  margin-top: 50px;
}

.payment{
  background: $table-head-color;
  margin-top: 50px;
  span{
    font-size: 30px;
    color: $color-white;
    font-weight: light !important;
    padding: 20px 28px;
    width: 49%;
    &.paymentText{
      text-align: left;
    }
    &.paymentAmount{
      text-align: right;
    }
  }
}

.badge {
  border-radius: 0;
  width: 200px;
  text-transform: uppercase;
  font-size: 13px;
  height: 30px;
  line-height: 25px;
  position: absolute;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  right: -67px;
  top: 9px;
}
.bg-color2,.badge.bg-color2 {
  background: #4cd8bb;
}
.badge.bg-color3 {
  background: #ff0141;
}
.page-head.bg-color4 {
  background:#8F8F8F;
}
.badge.bg-color4 {
  background: #4990e2;
}
.bg-color5,.badge.bg-color5 {
  background: $table-head-color;
}

.bg-color6, .badge.bg-color6,
body.campaigns .page-head,
body.campaigns .bagde{
  background: $campaigns-color;
}

.bg-color7, .badge.bg-color7, body.businesses.edit .page-head{
  background: $businesses-color;
}

.bg-color8,
body.customers .page-head {
  background: $customers-color;
}

.profile-form {
  padding: 75px 0 120px;
  h3 {
    font-weight: 300;
    font-size: 27px;
    margin: 0 0 40px;
  }
  p {
    color: #777576;
    font-size: 16px;
  }
  label.lead {
    line-height: 19px;
    margin-top: 5px;
  }
}
.chg-email {
  margin-bottom: 80px;
}
#profile-form label.error ,.form-content div label.error {
  color: #f00;
  font-size: 13px;
  text-transform: none;
  margin: -25px 0 0;
  display: table;
  font-weight: 400;
}
.input,input:focus {
  outline:0;
}
.hide-content {
  display:none;
}



/* FIRST INDEX STYLES */

.NewIndex{
  h2, h3, p{
    text-align: center !important;
    color: $label-color;
    font-weight: 500;
  }
  h2{
    font-size: 44px;
    margin: 51px 0 14px;
  }
  h3{
    font-size: 27px;
    margin-bottom: 13px;
  }
  p{
    font-size: 16px;
    color: #a3a3a3;
    margin-bottom: 35px;
  }
  img{
    display: block;
    margin: 0px auto;
  }
}





/* TABLE STYLES */
.table{
  thead{
    background-color: $table-head-color;
    .first{
      width:50px;
    }
    th{
      color: $color-white;
      font-weight: 500;
    }
  }
  tbody{
    td{
      vertical-align:middle !important;
      text-align: center !important;
      color: #777777;
      .circle{
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        font-size: 11px;
        color: $color-white;
        padding: 2px 5px;
        margin-left: 7px;

      }
      .red{
        background: $customers-color;
      }
      .blue{
        background: $reward-color;
      }
      .green{
        background: $coupon-color;
      }
      .active {
        border: 1px solid $campaigns-color;
        background: $campaigns-color;
        padding: 0px 6px;
      }
      .disabled {
        border: 1px solid #838d8f;
        background: transparent;
        padding: 0px 6px;
      }

      .option{
        text-indent: -9999px;
        display: block;  
        width:20px;
        height:20px;
        float: left;
        
        &.edit{
          background:image-url('ico/icon-edit-btn.svg') center center no-repeat;
          border:0px;

        	&:hover{
  	        background-image:image-url('ico/ico_edit_over.png');
  	      }
  	    }
        &.delete{
          background:image-url('btn-delete.png') center center no-repeat;
          margin-right: 10px;

  	      &:hover{
  	        background-image:image-url('btn-delete_over.png');
  	      }
        }
      }
    }
  }
}


.fixed-table-pagination {
  .pagination
  { 
    .active{ 
      a:hover{
        border: 1px solid $background-color;
        background: $background-color !important;
        color: #333 !important;
      }
    }
    a{
      font-size: 13px;
      color: #333;
      border: 1px solid $background-color;
    }
    .page-number.active{
      a{
        background: $background-color !important;
      }
    }
    .page-next{
      -webkit-border-top-right-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      -moz-border-radius-topright: 4px;
      -moz-border-radius-bottomright: 4px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .page-prev{
      -webkit-border-top-left-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
      -moz-border-radius-bottomleft: 4px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .page-first, .page-last{
      display: none !important;
    }
  }

}


.table-responsive {
  border: 0px;
  padding-bottom: $row-gutter;
  a {
    color: inherit;
  }
}

.selectOption.last { 
  border-top: 1px solid #EEE;
  padding-top: 8px;
}









///////////////////////// WESWESWES

// The content headers
h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: em(29);
  margin: 0 0 $row-gutter/2 0;
}




.row.filter-options{
  h4{
    line-height: 25px;
    font-weight: 400;
  }
}



.cbox {
  display: table;
  position: relative;
  margin: 18px 0 5px;

  input[type="checkbox"] {
    display: block;
    position: absolute;
    top: -33px;
    left: -9px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    opacity: 0;

    & + label {
      background: image-url('cbox.svg') no-repeat bottom left;
      padding: 0px;
      position: relative;
      top: -20px;
      display: table;
      color: #797778;
      text-transform: none;
      font-size: 15px;
      font-weight: 400;
      display: table;
      height: 21px;
      margin-bottom: -12px;
      vertical-align: middle;
      cursor: pointer;
      padding-left: 33px;
      width: 100%;
      line-height: 19px;

      .dark-wrap &,
      &.dark{
        background: image-url('cbox-dark.png') no-repeat bottom left;
      }
    }

    &:checked + label{
      background: image-url('cbox.svg') no-repeat top left;

      .dark-wrap &,
      &.dark{
        background: image-url('cbox-dark.png') no-repeat top left;
      }
    }
  }

  &.dark{
    input[type="checkbox"] {
      & + label {
        background: image-url('cbox-dark.png') no-repeat bottom left;
      }

      &:checked + label{
        background: image-url('cbox-dark.png') no-repeat top left;
      }
    }
  }
}



// BUTTONS
.btn{
  background: $color-white image-url('ico/ico_plus.png') no-repeat 23px center;
  padding: 0px 25px 0 50px;
  line-height: 32px;
  border-radius: 22px;
  color: $button-font-color;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: .2s;
  display: inline-block;

  &:hover {
    @include box-shadow();
  }

  &.btn-import {
    background-image: image-url('ico/ico_upload.png');
  }

  &.btn-export {
    background-image: image-url('ico/ico_download.png');
  }

  &.btn-browse {
    background-image: image-url('ico/ico_browse.png');
  }

  &.btn-new {
    background-image: image-url('ico/icon-plus.svg');
  }

  &.btn-more {
    background-image: image-url('ico/icon-view.svg');
    background-position: 18px center;
    border: 1px solid #99999b;
  }

  &.btn-ok {
    background-image: image-url('ico/ico_ok.svg');
    background-position: 18px center;
  }

  &.btn-default{
    background: none;
    padding: 0 22px;
  }

  &.btn-approve{
    background: $olive-drab;
    padding: 0 22px;
    color:$color-white;
  }

  &.btn-reject{
    background: $torch-red;
    padding: 0 22px;
    color:$color-white;
  }

  &.btn-submit{
    background: #33B1FD;
    padding: 0px 22px;
    text-align: center;
    margin: $row-gutter auto 0;
    border: none;
    color: $color-white;
    letter-spacing: 2px;

    &:hover {
      background-color: #6BC2F9;
    }
  }
}
//--END BUTTONS


form button{
  @extend .btn;
  @extend .btn-submit;
}

.mb {margin-bottom: $row-gutter/2;}

.file-upload{
  a{
    float: left;
  }

  input[type="file"] {display: none;}

  span{
    float: left;
    margin-left: $row-gutter/2;
    margin-top: 7px;
  }
}


// For index pages and others that have no records to show.
#no-records{
  margin: $row-gutter 0;

  text-align: center;
  h2 {
    font-weight: bold;
  }
}