@import 'settings'

table 
	margin: $row-gutter auto
	width: 100%
	max-width:$bare-form-width

	th, td
		padding: $row-gutter/2

	th
		background: $c-table-head
		color:$white

	td
		background:$white