.import-customers {
  background: #dddce0;
  padding-bottom: 40px;
  @media (max-width: 768px) {
  	.col-md-3{
  		margin-left: 0;
  		width: 100%;
  		text-align: center;
  	}
  }
}

.container.customers {
  @media (max-width: 768px) {
    h4 {
      margin-bottom: 20px;
    }
  }
  .notify-form { 
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 16px;
    textarea {
      margin-top: 10px;
      min-height: 212px;
      padding: 25px;
      font-size: 16px;
    }
    label {
      color: #4a4a4a;
      font-size: 16px;
      display: block;
    }
    button {
      left: 0px;
    }
  } 
}