.notify-form{
  padding: 35px 0 120px;
  
}

.exit-message {
  margin-bottom: 65px;
}

.input-days {
  width: 55px !important;
  height: 45px;
  border: none !important;
  padding: 0px !important;
  text-align: center;
  margin-right: 15px;
}