@import 'settings';

@import 'shared/stats';

#location-stats{
  .stat-panel{
    text-align: center;

    img {
      padding: $row-gutter/2;
      height: 130px;
    }

    .panel-footer{
      span{
        color: $niagara;
        font-size: 16px;
      }
    }
  }
}

#location-confirm{
  text-align: center;

  img{
    margin-bottom: $row-gutter;
  }

  input[type="text"] {
    display: block;
    width:50%;
    margin: 0 auto;
  }

  a{
    display: block;
    margin-top: $row-gutter/2;
  }
}